/* All common css start */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

.container {
    width: 1210px;
    margin: 0 auto;
}

/* All common css end */

/* Header part css start */
#headerPart {
    background: #F9F9FC;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

.menu ul {
    display: flex;
}

.menu ul li a {
    padding: 0 50px;
    line-height: 70px;
    font-weight: 400;
    font-size: 14px;
    color: #000;
}

.button a {
    padding: 10px 20px;
    background: #5E3BEE;
    border-radius: 50px;
    color: #fff;
}

.button a i {
    margin-left: 10px;
}

/* Header part css end */

/* Header part two css Start */
#headerPartTwo {
    background: #ebebff;
}

.headerTwo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuTwo ul {
    display: flex;
}

.menuTwo ul li a {
    padding: 0 50px;
    line-height: 70px;
    font-weight: 600;
    font-size: 18px;
    color: #000;
    font-family: "Libertinus Serif Display", system-ui;
}

.buttonTwo a {
    padding: 10px 20px;
    background: #3b65ee;
    border-radius: 50px;
    color: #fff;
}

.buttonTwo a i {
    margin-left: 10px;
}

/* Header part two css end */
